# Fill in the fields, copy the file, and rename it config.yaml
# ---
# Wolfram|Alpha APPID
appid: ''
# Absolute paths for scripts root
scripts:
  root: ''
  switch_on: ''
  switch_off: ''
# Failsafe will be used if Internet services (including Wolfram|Alpha APIs)
# cannot be reached. Keep in mind the time represented here is *before*
# offset is applied, as if that was the actual sunset time.
failsafe:
  hour: 0
  minute: 0
sunset:
  # Whether for auto-remove to delete `switch_on` cron jobs
  remove: true
  offset:
    # Relative values:
    #   Positive values are interpreted as *past* sunset, while
    #   negative values are interpreted as *before*.
    hours: 0
    minutes: 0
# When to run the main script.
run:
  hour: 0
  minute: 0
# When to clear the table of existing entries.
# Use the 24-hour format for hour.
remove:
  hour: 0
  minute: 0
# Optional.
# Set an absolute local time for shutdown.
# Use the 24-hour format for hour.
shutdown:
  enabled: false
  # Whether for auto-remove to delete `switch_off` cron jobs
  remove: false
  hour: 0
  minute: 0
# The following configurations are meant for automated job deletion.
# Paths for both env and root. Relative path can be used for `env` provided
# the environment is within `root`.
env: ''
root: ''
