# Fill in the fields, copy the file, and rename it config.yaml
# ---
# Wolfram|Alpha APPID
appid: ''
# Absolute paths for scripts root
scripts:
  root: ''
  switch_on: ''
  switch_off: ''
sunset:
  # Whether for auto-remove to delete `switch_on` cron jobs
  remove: true
  offset:
    # Relative values:
    #   Positive values are interpreted as *past* sunset, while
    #   negative values are interpreted as *before*.
    hours: 0
    minutes: 0
# When to clear the table of existing entries.
# Use the 24-hour format for hour.
remove:
  hour: 0
  minute: 0
# Optional.
# Set an absolute local time for shutdown.
# Use the 24-hour format for hour.
shutdown:
  enabled: false
  # Whether for auto-remove to delete `switch_off` cron jobs
  remove: false
  hour: 0
  minute: 0
# The following configurations are meant for automated job deletion.
# Absolute paths for both env and root
env: ''
root: ''
